<div id="about" class="section skills" data-anchor="about">
    <div class="content">
        <h1>ABOUT ME</h1>
        <div class="row valign-wrapper">
            <div class="col s4">
                <img src="my_pic.jpeg" alt="profile pic" class="circle responsive-img">
            </div>
            <div class="col s8">
                <span class="black-text">
                        Originally from Chicago, and new to the San Diego area,
                        I'm a web developer with a strong interest in projects that require both conceptual and analytical thinking,
                        who is fully committed to designing and developing innovative web-based materials that users will love.
                        Prior to my career as a web developer, I was a proprietary trader living in the world of fast paced markets.
                        I'm always eager to learn more tricks from anyone, regardless of the industry they're working in.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <img src="MongoDB-Logo.svg.png" alt="mongoDB" class="responsive-img">
            </div>
            <div class="col s3">
                <img src="Expressjs.png" alt="express.js" class="responsive-img">
            </div>
            <div class="col s2">
                <img src="reactjs.png" alt="react" class="responsive-img">
            </div>
            <div class="col s2">
                <img src="Redux.png" alt="redux" class="responsive-img">
            </div>
            <div class="col s2">
                <img src="Node.js_logo.svg.png" alt="node.js" class="responsive-img">
            </div>
            <div class="col s4">
                <img src="html-css-js-logo.png" alt="HTML" class="responsive-img">
            </div>
            <div class="col s2">
                <img src="jQurery.gif" alt="jquery" class="responsive-img">
            </div>
            <div class="col s3">
                <img src="MySQL.svg.png" alt="mySQL" class="responsive-img">
            </div>
            <div class="col s3">
                <img src="webpack-logo.png" alt="webpack" class="responsive-img">
            </div>
        </div>
    </div>
</div>