<div id="contact" class="section" data-anchor="contact">
    <div class="content fadeInDown">
        <h1>CONTACT ME</h1>
        <p>Whether you're interested in working with me or just want to say hello, I'd love to hear from you!</p>
        <br>
        <div class="contact-form">

        <div id="form-messages"></div>
        <form id="ajax-contact" method="post" role="form" action="contact.php" data-toggle="validator">
            <div class="form-group has-feedback fadeInLeft">
                <input type="text" class="form-control" id="name" name="name" placeholder="NAME" data-error="Field can't be blank!" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback fadeInRight">
                <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL" data-error="Field can't be blank!" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback fadeInLeft">
                <textarea data-minlength="10" class="form-control" id ="message" name="message" placeholder="MESSAGE" data-error="Minimum of 10 characters" required></textarea>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="fadeInUp">
                <button type="submit" id="submit" name="submit" class="btn btn-lg">SEND MESSAGE</button>
            </div>
        </form> 
        <br>
        </div>
    </div>
</div>



<!-- <div>
    <form action="/thanks" method="POST">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" type="text">

        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" type="text">

        <label for="email">Email:</label>
        <input id="email" name="email" type="text">

        <input type="submit" />
    </form>
</div> -->