<div class="section foot fp-auto-height">
    <div class="footer">
        <p>CONNECT WITH ME</p>
        <div class="social-links">
            <span><a href="https://www.linkedin.com/in/zachscheck/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
            <span><a href="assets/Resume.pdf" target="_blank"><i class="fa fa-file-text fa-2x"></i></a></span>            
            <span><a href="https://github.com/zscheck" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
            <span><a href="mailto:zach.scheck@gmail.com?subject=HEY ZACH!"><i class="fa fa-envelope fa-2x"></i></a></span>
        </div>
    </div>
</div>