<div class="nav-screen">
    <i class="fa fa-times fa-3x"></i>
    <div class="nav-container">
        <div class="nav-links">
            <ul id='myMenu'>
                <li><a class="fuzzy" href="#about">ABOUT</a></li>
                <li><a class="fuzzy" href="#portfolio">PORTFOLIO</a></li>
                <li><a class="fuzzy" href="#contact">CONTACT</a></li>
                <li><a class="fuzzy" target="_blank" href="assets/Resume111.pdf">RESUME</a></li>
            </ul>
        </div>
    </div>
</div>