<div class="nav-header">
    <div class="nav-brand">
        <a href="#home"><img src="assets/Logomakr_1N2zqc.png" alt="ZS"></a>
    </div>
    <i class="fa fa-bars fa-3x"></i>
    <div class="header-links">
        <ul>
            <li><a class="fuzzy" href="#contact">CONTACT</a></li>
            <li><a class="fuzzy" href="#portfolio">PROJECTS</a></li>
            <li><a class="fuzzy" href="#about">ABOUT</a></li>
            <li><a class="fuzzy" target="_blank" href="assets/Resume.pdf">RESUME</a></li>
        </ul>
    </div>
</div>