<div class="nav-screen">
    <i class="fa fa-times fa-3x"></i>
    <div class="nav-container">
        <div class="nav-links">
            <ul id='myMenu'>
                <li data-menuanchor="secondPage"><a class="fuzzy" href="#about">ABOUT</a></li>
                <li data-menuanchor="thirdPage"><a class="fuzzy" href="#portfolio">PORTFOLIO</a></li>
                <li data-menuanchor="fourthPage"><a class="fuzzy" href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</div>