<div id="portfolio" class="section " data-anchor="portfolio">
    <div>
    <h1>PROJECTS</h1>
    </div>
    <div id="portfolio-display">
        <div id="portfolio-center">
            <div class="port-containers">
                <h3>MLB Tailgates</h3>
                <img class="port-project" src="assets/MLB_Tailgates.png" alt="hack-a-thon Project"/>
                <p class="port-desc">This app was originally a 72 hour hack-a-thon project built with React utilizing
                    both Yelp and Google Maps API's.  MLB Tailgates allows users to select which baseball stadium they
                    wish to visit, then it will return the top 10 sports bars according to Yelp which are located within
                    2000 meters of the stadium, with a visual of where they are located relative to the stadium on Google Maps.
                    In order to complete the application, I created my own API for stadium information and created a proxy
                    server to act as middleware for custom routes.  Future updates to this application will include custom
                    searches of activites beyond sports bars and converting the app to Redux.
                </p>
                <span class="project-links">
                    <a href="https://github.com/zscheck/MLB-Tailgates" target="_blank">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a href="http://zs-mlb-tailgate.herokuapp.com" target="_blank">
                        zs-mlb-tailgate.herokuapp.com
                    </a>
                </span>
            </div>
            <div class="port-containers">
                <h3>Delicious Deliveries</h3>
                <img class="port-project" src="assets/Delicious_Deliveries.png" alt="Delicious Deliveries Project"/>
                <p class="port-desc">Delicious Deliveries is a full stack concept restaurant ordering website, which was
                    developed as a one week group project.  As a customer on the website, you can browse through different 
                    restaurants in your area, view their menus, add menu items the shopping cart, edit the shopping cart
                    review your order and checkout.  As a restaurant owner, you can add and update restaurants to Delicious
                    Deliveries, as well as add new menu items to be diplayed at a chosen restaurant.  Our database was made 
                    using MongoDB with Loopback.  Future updates will include swipe payment integration, an order history
                    for customers to reorder past orders and an owners ability to set a max item quantity per order.
                </p>
                <span class="project-links">
                    <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a href="http://delicious-deliveries.herokuapp.com/" target="_blank">
                        delicious-deliveries.herokuapp.com
                    </a>
                </span>
            </div>
        </div>
        <div id="portfolio-center">
            <div class="port-containers">
                <h3>JobLeads</h3>
                <img class="port-project" src="assets/Jobleads.png" alt="JobLeads Project"/>
                <p class="port-desc">
                </p>
                <span class="project-links">
                    <a href="http://jobleads.herokuapp.com/" target="_blank">
                        jobleads.herokuapp.com
                    </a>
                </span>
            </div>
            <div class="port-containers">
                <h3>Movie Finder</h3>
                <img class="port-project" src="assets/Movie_Finder.png" alt="JobLeads Project"/>
                <p class="port-desc">
                </p>
                <span class="project-links">
                    <a href="https://github.com/zscheck/Movie-Finder" target="_blank">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a href="http://zs-movie-finder.herokuapp.com/" target="_blank">
                        zs-movie-finder.herokuapp.com
                    </a>
                </span>
            </div>
        </div>
    </div>
    <!-- <div class="wrapper-parent carousel">
        <a class="carousel-item wrapper-child" href="#one!">
            <img
                data-anchor="1"
                class="materialboxed"
                width="250"
                alt="delicious deliveries" 
                src="assets/Delicious_Deliveries.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#two!">
            <img
                data-anchor="2" 
                class="materialboxed"
                width="250"
                alt="mlb tailbgates" 
                src="assets/MLB_Tailgates.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#three!">
            <img 
                data-anchor="3"
                class="materialboxed"
                width="250"
                alt="movie finder" 
                src="assets/Movie_Finder.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#four!">
            <img 
                data-anchor="4" 
                class="materialboxed"
                width="250"
                alt="portfolio" 
                src="assets/Portfolio.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#five!">
            <img 
                data-anchor="5" 
                class="materialboxed"
                width="250"
                alt="weather" 
                src="assets/Weather_App.png"
            >
        </a>
    </div>
    <div class="description-wrappers">
        <div class="desc-child active" data-index="1">
            <h4>Delicious Deliveries</h4>
            <p>
            This was a full stack Javascript application using loopback that my team worked on
            using loopback as our database.  The challenge was to create a website similar to 
            Postmates, where in one week where a customer can order food, and restaurant owners
            can add restaurants to and update menu items.
            </p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/delicous-deliveries
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="2">
            <h4>MLB Tailgates</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/mbl-tailgates
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="3">
            <h4>Movie Finder</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/movie-finder
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="4">
            <h4>Personal Webpage</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="http://zachscheck.com" target="_blank">
                    zachscheck.com
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="5">
            <h4>Weather Application</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/weather-app
                </a>
            </span>
        </div>
    </div> -->
</div>