<div id="portfolio" class="section " data-anchor="portfolio">
    <div>
    <h1>PROJECTS</h1>
    </div>
    <div id="portfolio-display">
        <div id="portfolio-center">
            <div class="port-containers">
                <h3>MLB Tailgates</h3>
                <img class="port-project" src="assets/MLB_Tailgates.png" alt="hack-a-thon Project"/>
                <p class="port-desc">This app was originally a 72 hour hack-a-thon project built with React utilizing
                    both Yelp and Google Maps API's.  MLB Tailgates allows users to select which baseball stadium they
                    wish to visit, then it will return the top 10 sports bars according to Yelp which are located within
                    2000 meters of the stadium, with a visual of where they are located relative to the stadium on Google Maps.
                    In order to complete the application, I created my own API for stadium information and created a proxy
                    server to act as middleware for custom routes.  Future updates to this application will include custom
                    searches of activites beyond sports bars and converting the app to Redux.
                </p>
                <span class="project-links">
                    <a href="https://github.com/zscheck/MLB-Tailgates" target="_blank">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a href="http://zs-mlb-tailgate.herokuapp.com" target="_blank">
                        zs-mlb-tailgate.herokuapp.com
                    </a>
                </span>
            </div>
            <div class="port-containers">
                <h3>Delicious Deliveries</h3>
                <img class="port-project" src="assets/Delicious_Deliveries.png" alt="Delicious Deliveries Project"/>
                <p class="port-desc">Delicious Deliveries is a full stack concept restaurant ordering website, which was
                    developed as a one week group project.  As a customer on the website, you can browse through different 
                    restaurants in your area, view their menus, add menu items the shopping cart, edit the shopping cart
                    review your order and checkout.  As a restaurant owner, you can add and update restaurants to Delicious
                    Deliveries, as well as add new menu items to be diplayed at a chosen restaurant.  Our database was made 
                    using MongoDB with Loopback.  Future updates will include swipe payment integration, an order history
                    for customers to reorder past orders and an owners ability to set a max item quantity per order.
                </p>
                <span class="project-links">
                    <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a href="http://delicious-deliveries.herokuapp.com/" target="_blank">
                        delicious-deliveries.herokuapp.com
                    </a>
                </span>
            </div>
        </div>
        <div id="portfolio-center">
            <div class="port-containers">
                <h3>JobLeads</h3>
                <img class="port-project" src="assets/Jobleads.png" alt="JobLeads Project"/>
                <p class="port-desc">
                </p>
                <span class="project-links">
                    <a href="http://jobleads.herokuapp.com/" target="_blank">
                        jobleads.herokuapp.com
                    </a>
                </span>
            </div>
            <div class="port-containers">
                <h3>Hangman</h3>
                <img class="port-project" src="assets/Hangman.png" alt="JobLeads Project"/>
                <p class="port-desc">
                </p>
                <span class="project-links">
                    <a href="https://github.com/zscheck/Hangman" target="_blank">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                    <a href="http://zs-hangman.herokuapp.com/" target="_blank">
                        zs-hangman.herokuapp.com
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>