<div id="portfolio" class="section projects" data-anchor="portfolio">
    <h1>PROJECTS</h1>
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="Delicious_Deliveries.png"></a>
        <a class="carousel-item" href="#two!"><img src="MLB_Tailgates.png"></a>
        <a class="carousel-item" href="#three!"><img src="Movie_Finder.png"></a>
        <a class="carousel-item" href="#four!"><img src="Portfolio.png"></a>
        <a class="carousel-item" href="#five!"><img src="Weather_App.png"></a>
    </div>
</div>