<div id="portfolio" class="section " data-anchor="portfolio">
    <h1>PROJECTS</h1>
    <div class='row'>
        <div class="col s6">
            <div class="card z-depth-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/MLB_Tailgates.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">MLB Tailgates<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">MLB Tailgates<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card z-depth-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/Delicious_Deliveries.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Delicious Deliveries<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Delicious Deliveries<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card z-depth-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/Portfolio.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Personal Website<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Personal Website<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card z-depth-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/Movie_Finder.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Movie Finder<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Movie Finder<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="wrapper-parent carousel">
        <a class="carousel-item wrapper-child" href="#one!">
            <img
                data-anchor="1"
                class="materialboxed"
                width="250"
                alt="delicious deliveries" 
                src="assets/Delicious_Deliveries.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#two!">
            <img
                data-anchor="2" 
                class="materialboxed"
                width="250"
                alt="mlb tailbgates" 
                src="assets/MLB_Tailgates.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#three!">
            <img 
                data-anchor="3"
                class="materialboxed"
                width="250"
                alt="movie finder" 
                src="assets/Movie_Finder.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#four!">
            <img 
                data-anchor="4" 
                class="materialboxed"
                width="250"
                alt="portfolio" 
                src="assets/Portfolio.png"
            >
        </a>
        <a class="carousel-item wrapper-child" href="#five!">
            <img 
                data-anchor="5" 
                class="materialboxed"
                width="250"
                alt="weather" 
                src="assets/Weather_App.png"
            >
        </a>
    </div>
    <div class="description-wrappers">
        <div class="desc-child active" data-index="1">
            <h4>Delicious Deliveries</h4>
            <p>
            This was a full stack Javascript application using loopback that my team worked on
            using loopback as our database.  The challenge was to create a website similar to 
            Postmates, where in one week where a customer can order food, and restaurant owners
            can add restaurants to and update menu items.
            </p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/delicous-deliveries
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="2">
            <h4>MLB Tailgates</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/mbl-tailgates
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="3">
            <h4>Movie Finder</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/movie-finder
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="4">
            <h4>Personal Webpage</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="http://zachscheck.com" target="_blank">
                    zachscheck.com
                </a>
            </span>
        </div>
        <div class="desc-child hidden" data-index="5">
            <h4>Weather Application</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/weather-app
                </a>
            </span>
        </div>
    </div> -->
</div>