<div id="portfolio" class="section projects" data-anchor="portfolio">
    <h1>PROJECTS</h1>
    <div class="carousel">
        <a class="carousel-item" href="#one!">
            <img
                class="materialboxed" 
                data-caption="A picture of a way with a group of trees in a park" 
                width="250" 
                src="Delicious_Deliveries.png"
            >
        </a>
        <a class="carousel-item" href="#two!">
            <img 
                class="materialboxed" 
                data-caption="A picture of a way with a group of trees in a park" 
                width="250" 
                src="MLB_Tailgates.png"
            >
        </a>
        <a class="carousel-item" href="#three!">
            <img 
                class="materialboxed" 
                data-caption="A picture of a way with a group of trees in a park" 
                width="250" 
                src="Movie_Finder.png"
            >
        </a>
        <a class="carousel-item" href="#four!">
            <img 
                class="materialboxed" 
                data-caption="A picture of a way with a group of trees in a park" 
                width="250" 
                src="Portfolio.png"
            >
        </a>
        <a class="carousel-item" href="#five!">
            <img 
                class="materialboxed" 
                data-caption="A picture of a way with a group of trees in a park" 
                width="250" 
                src="Weather_App.png"
            >
        </a>
    </div>
</div>