<div id="portfolio" class="section projects" data-anchor="portfolio">
    <h1>PROJECTS</h1>
    <div class="carousel">
        <a class="carousel-item" href="#one!">
            <img
                class="materialboxed"
                width="250" 
                src="Delicious_Deliveries.png"
            >
        </a>
        <a class="carousel-item" href="#two!">
            <img 
                class="materialboxed"
                width="250" 
                src="MLB_Tailgates.png"
            >
        </a>
        <a class="carousel-item" href="#three!">
            <img 
                class="materialboxed"
                width="250" 
                src="Movie_Finder.png"
            >
        </a>
        <a class="carousel-item" href="#four!">
            <img 
                class="materialboxed"
                width="250" 
                src="Portfolio.png"
            >
        </a>
        <a class="carousel-item" href="#five!">
            <img 
                class="materialboxed"
                width="250" 
                src="Weather_App.png"
            >
        </a>
    </div>
    <div>
        <div id="uno">
            <h4>Delicious Deliveries</h4>
            <p>skjfkfj skjfkfj skjfkfj skjfkfj skjfkfj skjfkfj skjfkfj skjfkfj skjfkfj
                skjfkfj skjfkfj skjfkfj skjfkfj skjfkfjskjfkfj skjfkfj skjfkfj skjfkfj
                skjfkfj skjfkfj skjfkfj skjfkfj skjfkfj skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/delicous-deliveries
                </a>
            </span>
        </div>
        <div id="dos">
            <h4>MLB Tailgates</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/mbl-tailgates
                </a>
            </span>
        </div>
        <div id="tres">
            <h4>Movie Finder</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/movie-finder
                </a>
            </span>
        </div>
        <div id="cuatro">
            <h4>Personal Webpage</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="http://zachscheck.com" target="_blank">
                    zachscheck.com
                </a>
            </span>
        </div>
        <div id="cinco">
            <h4>Weather Application</h4>
            <p>skjfkfj</p>
            <span class="project-links">
                <a href="https://github.com/zscheck/Delicious_Deliveries" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a href="#" target="_blank">
                    zachscheck.com/weather-app
                </a>
            </span>
        </div>
    </div>
</div>